.dpd-container {
    padding: 16px;
    display: flex;
    flex-grow: 1;
}

.dpd-text {
    display: flex;
    align-items: center;
    color: darkblue;
    font-weight: 700;
    font-size: 24px;
    width: 25%;
    word-wrap: break-word;
    line-height: 28px;
    padding: 16px;
}

.dpd-children {
    flex-grow: 1;
}

.dpd-help {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: center;
    text-decoration: underline;
    text-align: center;
    padding: 16px;
}

.dpd-help:hover {
    cursor: pointer;
}

.dpd-help-link {
    font-size: 12px;
}