.account-users-card {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    padding: 16px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.account-users-card-header {
    display: flex;
}

.account-users-card-header h2 {
    flex-grow: 1;
}

.account-user-row {
    display: flex;
}

